<div id="portal-content">
	<div class="banner-new">
		<div style="white-space:nowrap;text-align:left;vertical-align:middle;">
			<div id="/meta/default/wm_image/0000006965" caf:resizable="/meta/default/wm_image/0000006965__body"
				class="shell-portlet-container">

				<img src="/ui/skins/wm_skin_noodle/images/SAG_blueflag_200x73.png?v=190514141359" alt="webMethods"
					title="webMethods" width="200px" height="73px" align="absmiddle" border="0">

			</div>
		</div>
	</div>

	In the template
	<div class="portal-page">
		<div class="portlet-row caf-login">
			<div class="portlet-column" style="width:100%;">
				<div class="portlet-container">
					<div class="portlet-border no-border no-titlebar">
						<div class="portlet-titlebar">
						</div>
						<div class="portlet-body-border">
							<div class="portlet-body">
								<div>

									<nav class="navbar navbar-fixed-top pa-header-bg pa-nav-height pa-set-index-zindex"
										style="border: 0;">
										<div class="container-fluid pa-reset-padding" style="padding: 0 20px 0 0;">
											<div class="navbar-header col-md-4">
												<a class="" href="#" style="padding: 0;">
													<span class="logo-new-header"></span>
													<!-- &lt;img class="logo-top" src="/cg510_profile_loginScreen/images/profiles_logo_60x60.png" /&gt; -->
													<span class="con-text">Profiles</span>
												</a>
											</div>
											<div id="navbar" class="navbar-collapse collapse"
												style="font-size: 13px; padding-top: 0px;">
												<ul style="height: 55px;
												margin: 0;
												margin-top: 25px;
												display: inline-flex;
												float: right;
											">
													<li class="pa-li-display-right"><a href="#" style="color: white"
															target="_blank" title="Performance">Performance</a></li>
													<li style="list-style: none; display: inline;"><span
															style="color: white">|</span></li>

													<li class="pa-li-display-right pa-li-display-left">
														<a href="#" title="About" style="color:white;" id="aboutLink"
															onclick="showAboutDialog('Profiles')">About</a>
														<div id="aboutDiv" class="about_div"></div>
													</li>
													<li style="list-style: none; display: inline;"><span
															style="color: white">|</span></li>
													<li class="pa-li-display-right pa-li-display-left"><a href="#"
															style="color: white" target="_blank"
															title="Privacy Policy">Privacy
															Policy</a></li>
													<li style="list-style: none; display: inline;"><span
															style="color: white">|</span></li>
													<li class="pa-li-display-left"><a href="#" style="color: white"
															target="_blank" title="Legal Notice">Legal
															Notice</a></li>
												</ul>
											</div>
										</div>
									</nav>


									<div class="border-style">
										<div id="login" class="clearfix">
											<div class="pull-left" style="width: 460px;">
												<div class="pa-header-bg"
													style="margin: 10px 0 0 10px; height: 200px; text-align: center; font-size: 20px;">
													<span class="logo-new"></span> <span class="con">Profiles</span>
												</div>
											</div>
											<div class="pull-left" style="width: 300px;">
												<h3 class="login-text">Login</h3>
												<form name="Login" >
													<div class="pa-login-field">
														<label for="wm_login-username" class="input-label">User
															Name:</label> <input style="width: 280px;"
															 name="username" type="text" required ng-model="userName"
															class="pa-login-input">
													</div>
													<div class="pa-login-field">
														<label for="wm_login-password"
															class="input-label">Password:</label>
														<input style="width: 280px;" 
															name="password" type="password" required ng-model="password"
															class="pa-login-input">
													</div>
													<div class="pa-login-field">
														<button name="submit_login" type="button" ng-disabled="Login.$invalid"
															ui-sref="main" class="pa-login-button">Log In </button>
													</div>
												</form>
											</div>
										</div>
										<div id="error-message-container" style="padding: 0 15px;">
										</div>
										<div class="col-md-12 pa-font-hyperlink">
											<ul>
												<li><a href="https://pmf.psso.its.jnj.com/pmf/ForgottenPassword/Login.html"
														target="_blank" title="Forgot Password">Forgot Password</a></li>
												<li><a href="https://myapps.psso.its.jnj.com/hs/VPN.jsp" target="_blank"
														title="COMPASS Remote Access">COMPASS Remote
														Access</a></li>
												<li><a href="https://pmf.psso.its.jnj.com/pmf/Registration.html"
														target="_blank" title="Partner Self-Registration">Partner
														Self-Registration</a></li>
												<li><a href="https://myapps.psso.its.jnj.com/hs/" target="_blank"
														title="Help &amp; Support">Help &amp; Support</a></li>
											</ul>
										</div>


										<div class="pa-login-copyright col-md-12"
											style="padding: 25px 0px 0px 0px; margin: 0px">
											<div class="col-md-12 warning" style="margin-bottom: 10px;">
												<b>WARNING NOTICE:</b> This system is restricted solely to Johnson
												&amp; Johnson users for legitimate business only. The actual or
												attempted unauthorized access, use or modification of this system
												is strictly prohibited by Johnson &amp; Johnson. Unauthorized
												users are subject to Company disciplinary proceedings and/or
												criminal and civil penalties under state, federal or other
												applicable domestic and foreign laws. The use of this system may
												be monitored and recorded for administrative and security reasons.
												If such monitoring and/or recordings reveal possible evidence of
												criminal activity, Johnson &amp; Johnson may provide the evidence
												of such monitoring to law enforcement officials. (c) Information
												Technology Shared Services, a Division of Johnson &amp; Johnson
												Services, Inc. 2018
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>